* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #13191F;
    color: white;
    display: flex;
}

.navbar txt {
    display: flex;
    align-items: center;
}

.navbar a {
    display: center;
    
}